body{
    font-family: "Poppins", sans-serif;
    background-image: url(../imagens/fundo.png);
    background-size: cover;
    background-position: center;
}

body::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    backdrop-filter: blur(4px);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.linguagens{
    display: flex;
    gap: 30px;
    padding: 30px;
}

.cartao-linguagem{
    display: none;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-linguagem.aberto{
    display: block;
}

.cartao-linguagem img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.cartao-linguagem .cartao-topo{
    padding: 30px 40px 0;
}

.cartao-linguagem .nome{
    margin-bottom: 5px;
    font-size: 25px;
}

.cartao-linguagem .detalhes{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-linguagem .cartao-informacoes{
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-linguagem .cartao-informacoes h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid  #6b727a;
}

.cartao-linguagem .cartao-informacoes .descricao{
    padding: 0 10px;
    font-size: 15px;
    max-height: 150px;
    overflow-y: scroll;
}

.tipo{
    background-color: #222222;
}

.listagem{
    max-width: 200px;
}

.listagem .linguagem img{
    width: 23%;
}

.listagem .linguagem{
    background-color: #222529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.15 ease-in-out;
    color: #ffffff;
}

.listagem .linguagem:hover{
    transform: scale(1.05);
}

.listagem .linguagem span{
    padding-right: 20px;
}

.listagem .linguagem.ativo{
    background-color: #1e4e57;
}

footer{
    background-color: #000000;
    color: #dddddd  ;
    text-align: center;
    padding: 2%;
}

a{
    text-decoration: none;
    color: inherit;
    font-style: italic;
}